header{
    background-color: red;
}
h1{
    text-align: center;
}
h1 a{
    margin-right: 30px;
    color: white;
}              

#a1{
    position: relative; left:350px;
}

main{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

footer{
    background-color: silver;
}

.formulario-login{
    width: 500px;
    height: 350px;
    background-color: aqua;
    margin: auto;
    margin-top: 180px;
    box-shadow: 7px 13px 37px transparent;
    padding: 20px 30px;
    border-radius: 15px;
    border: 1px solid;
}

.formulario-login h5{
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 20px;
}

.controls{
    width: 100%;
    border: 1px solid;
    margin-bottom: 5px;
    padding: 11px 10px;
    background-color: white;
    font-size: 14px;
    font-weight: bold;
}

.buttons{
    width: 100%;
    height: 40px;
    background-color: white;
    border: 1px solid;
    margin-bottom: 16px;
}


.form-bienvenido{
    width: 500px;
    height: 350px;
    background-color: aqua;
    margin: auto;
    margin-top: 180px;
    box-shadow: 7px 13px 37px transparent;
    padding: 20px 30px;
    border-radius: 15px;
    border: 1px solid;
}

.form-bienvenido h5{
    margin: 0;
    text-align: center;
    height: 50px;
    margin-bottom: 50px;
    border-bottom: 1px solid;
    font-size: 20px;
}

.imagenes{
    margin: 150px auto;
    width: 70%;
}

img {
    max-width: 320px;
    float: right;
    border: 3px;
    margin-right: 10px;
    margin-top: 15px;
    height: 300px;
    width: 300px;
    border-radius: 10px;
    border: 3px solid;
}

.texto p{
    font-size: 16px;
    margin-left: 15px auto;
}

*{
    margin: 0;
    padding: 0px;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 200px;
    margin: 10px;
}

.container-fluid{
    background-color: salmon;
    height: auto;
    width: 400px;;
}

.container-fluid h3{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}


.form-floating{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    text-align: center;
    margin: 10px;
    margin-left: 10px;
}
